.menu {
  position: absolute;
  z-index: 100;
  background: transparent;
  pointer-events: none;
  width: 35%;
}
body {
  overflow: hidden;
}
.content-section {
  display: grid;
  grid-template-columns: 70% 30%;
}
.content-section.fullscreen {
  grid-template-columns: 100% 0;
}

.landing-page {
  background: ghostwhite;
  height: 100vh;
}
.img-container {
  position: relative;
}
.img-container img {
  width: 500px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.right-content {
  padding: 24px 72px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing-footer {
  margin-top: 24px;
}
.footer-extra {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  justify-content: left;
  align-items: center;
}
.footer-extra span {
  font-size: 18px;
}

table.iksweb{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}