.menu {
  position: absolute;
  z-index: 100;
  background: transparent;
  pointer-events: none;
  width: 35%;
}
body{
  overflow: hidden;
}
.content-section{
  display: grid;
  grid-template-columns: 70% 30%;
}
.content-section.fullscreen{
  grid-template-columns: 100% 0;
}