.menu-1 .ant-menu-submenu-title {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  div.ant-menu-submenu-title {
    padding: 0 !important;
    margin: 0 !important;
  }
  .viewer-tools{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
  }