.menu-1 .ant-menu-submenu-title {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  div.ant-menu-submenu-title {
    padding: 0 !important;
    margin: 0 !important;
  }
  .viewer-tools{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      -webkit-text-stroke: 1px black;
      font-weight: 800;
      font-size: 16px;
  }
  .viewer-tools__slider{
      width: 200px;
  }
  .viewer-tools__time{
      position: absolute;
      display: flex;
      flex-direction: row;
      width: 100%;
      bottom: 5px;
  }